/* .textLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: transparent;     
  line-height: 1;
  white-space: pre;
}

.textLayer > div {
  color: transparent;
  position: absolute;
  transform-origin: 0% 0%;
  cursor: text;
}

.textLayer .highlight {
  margin: -1px;
  padding: 1px;
  background-color: rgba(180, 0, 170, 0.3);
  border-radius: 4px;
}

.textLayer .highlight.selected {
  background-color: rgba(0, 100, 0, 0.3);
}

.textLayer ::selection {
  background: rgba(0, 0, 255, 0.3);
}

.textLayer ::-moz-selection {
  background: rgba(0, 0, 255, 0.3);
} */
